<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>STUDYBOOK</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<script src="js/main.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-xlarge.css" />
	</noscript>
	<!-- jQuery.jsの読み込み -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<!-- スムーズスクロール部分の記述 -->
	<script>
	$(function(){
   	// #で始まるアンカーをクリックした場合に処理
   	$('a[href^=#]').click(function() {
      // スクロールの速度
      var speed = 400; // ミリ秒
      // アンカーの値取得
      var href= $(this).attr("href");
      // 移動先を取得
      var target = $(href == "#" || href == "" ? 'html' : href);
      // 移動先を数値で取得
      var position = target.offset().top;
      // スムーススクロール
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
  	 });
});
</script>
</head>

<body class = "landing">


	<!-- Header -->
	<header id="header">
		<h1><a href="/">STUDYBOOK</a></h1>
		<% if login? then%>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/rank">Ranking</a></li>
				<li><a href="/score_write">Score Write</a></li>
				<li><a href="/score">Score</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="/logout" class="button special">Logout</a></li>
			</ul>
		</nav>

		<% else %>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="/sign_up" class="button special">Sign up</a></li>
				<li><a href="/login" class="button special">Login</a></li>
				<li><p>000<%=counter%> access</p></li>
			</ul>
		</nav>

		<% end %>
	</header>

	<!-- main-->
	<!-- Banner -->
	<section id="banner">
		<% if login? then%>
		<h2>Hi <%=login_user.user_name%></h2>
		<% else %>
		<h2>this is STUDYBOOK</h2>
		<%end%>
		<p>このサービスはテストです</p>
		<ul class="actions">
			<li>
				<a href="#readmore" class="button big">Read More</a>
			</li>
		</ul>
	</section>

	<!-- One -->
	<div id="readmore"></div>
	<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>STUDYBOOKとは</h2>
				<p>練習で作ってみたサービスです。利用は自己責任でお願いします。</p>
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color1 fa-cloud"></i>
						<h3>自分の定期テストの結果を保存</h3>
						<p>尼崎市の中学校がメインになっています。もしデータをうち間違えた場合は、contactで知らせてください。</p>
					</section>
				</div>
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color9 fa-desktop"></i>
						<h3>勉強のToDoリスト</h3>
						<p>すべきことを記録していきます。（いずれは追加）</p>
					</section>
				</div>
				<div class="4u$ 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color6 fa-rocket"></i>
						<h3>他に随時機能を追加</h3>
						<p>頑張ります</p>
					</section>
				</div>
			</div>
		</div>
	</section>

	<!-- Three -->
	<div id ="contact"></div>
	<section id="three" class="wrapper style3 special">
		<div class="container">
			<header class="major">
				<h2>Contact</h2>
				<p>何か質問や要望があればご連絡ください。</p>
			</header>
		</div>
		<div class="container 50%">

			<form action="/message" method="post">
				<div class="row uniform">
					<div class="6u 12u$(small)">
						<input name="name" id="name" value="" placeholder="Name" type="text">
					</div>
					<div class="12u$">
						<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input value="Send Message" class="special big" type="submit"></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<section class="links">
				<div class="row">
					<section class="3u 6u(medium) 12u$(small)">
						<h3>Math</h3>
						<ul class="unstyled">
							<li><a href="http://math.005net.com/study.php">How to study math</a></li>
							<li><a href="http://www.nyushi-sugaku.com/teiki-test.html">1年生</a></li>
							<li><a href="http://math.005net.com/youten.php#ul2">2年生</a></li>
							<li><a href="http://math.005net.com/youten.php#ul3">3年生</a></li>
							<li><a href="https://matome.naver.jp/odai/2134199864808872901">まとめ</a></li>
						</ul>
					</section>
					<section class="3u 6u$(medium) 12u$(small)">
						<h3>English</h3>
						<ul class="unstyled">
							<li><a href="http://english.005net.com/youten.php">まとめ</a></li>
							<li><a href="https://matome.naver.jp/odai/2142701696741327401">不規則動詞</a></li>
							<li><a href="http://egao21.com/01/word/">単語</a></li>
						</ul>
					</section>
					<section class="3u 6u(medium) 12u$(small)">
						<h3>Science</h3>
						<ul class="unstyled">
							<li><a href="http://science.005net.com/yoten.php">まとめ</a></li>
							<li><a href="http://science.005net.com/mondai.php">問題</a></li>
							<li><a href="http://science.005net.com/yogo.php"></a></li>
						</ul>
					</section>
					<section class="3u$ 6u$(medium) 12u$(small)">
						<h3>total</h3>
						<ul class="unstyled">
							<li><a href="http://www.ituore.com/entry/study-junior">how to study</a></li>
							<li><a href="http://xn--swqwd788bm2jy17d.net/hyogo.php">高校偏差値</a></li>
							<li><a href="http://daigakujyuken.boy.jp/">大学偏差値</a></li>
							<li><a href="http://study-guide.hatenablog.jp/entry/20140425/p1">動画まとめ</a></li>
							<li><a href="https://www.youtube.com/watch?v=j7yoAzQ1PuA&index=8&list=PLFryQ-K6iv6UvSIaEv8KGVh6OkFwZm7-c">面白くなるyoutube</a></li>
						</ul>
					</section>
				</div>
			</section>
			<div class="row">
				<div class="8u 12u$(medium)">
					<ul class="copyright">
						<li>&copy;Ryoma Kurisu</li>
						<li>Design:TEMPLATED</li>
						<li>Image:</a></li>
					</ul>
				</div>
				<div class="4u$ 12u$(medium)">
					<ul class="icons">
						<li>
							<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
						</li>
						<li>
							<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
						</li>
						<li>
							<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
						</li>
						<li>
							<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
