<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>STUDYBOOK</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
  <script src="js/jquery.min.js"></script>
  <script src="js/skel.min.js"></script>
  <script src="js/skel-layers.min.js"></script>
  <script src="js/init.js"></script>
  <noscript>
    <link rel="stylesheet" href="css/skel.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-xlarge.css" />
  </noscript>
</head>

 <body>


   <!-- Header -->
   <header id="header">
    <h1><a href="/">STUDYBOOK</a></h1>
    <% if login? then %>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rank">Ranking</a></li>
        <li><a href="/score_write">Score Write</a></li>
        <li><a href="/score">Score</a></li>
        <li><a href="/#contact">Contact</a></li>
        <li><a href="/logout" class="button special">Logout</a></li>
      </ul>
    </nav>

    <% else %>
     <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#contact">Contact</a></li>
         <li><a href="/sign_up" class="button special">Sign_up</a></li>
        <li><a href="/login" class="button special">Login</a></li>
      </ul>
    </nav>
    
    <% end %>


  </header>

  <!-- main-->
  <%= yield %>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <section class="links">
        <div class="row">
          <section class="3u 6u(medium) 12u$(small)">
            <h3>Math</h3>
            <ul class="unstyled">
              <li><a href="http://math.005net.com/study.php">How to study math</a></li>
              <li><a href="http://www.nyushi-sugaku.com/teiki-test.html">1年生</a></li>
              <li><a href="http://math.005net.com/youten.php#ul2">2年生</a></li>
              <li><a href="http://math.005net.com/youten.php#ul3">3年生</a></li>
              <li><a href="https://matome.naver.jp/odai/2134199864808872901">まとめ</a></li>
            </ul>
          </section>
          <section class="3u 6u$(medium) 12u$(small)">
            <h3>English</h3>
            <ul class="unstyled">
              <li><a href="http://english.005net.com/youten.php">まとめ</a></li>
              <li><a href="https://matome.naver.jp/odai/2142701696741327401">不規則動詞</a></li>
              <li><a href="http://egao21.com/01/word/">単語</a></li>
            </ul>
          </section>
          <section class="3u 6u(medium) 12u$(small)">
            <h3>Science</h3>
            <ul class="unstyled">
              <li><a href="http://science.005net.com/yoten.php">まとめ</a></li>
              <li><a href="http://science.005net.com/mondai.php">問題</a></li>
              <li><a href="http://science.005net.com/yogo.php"></a></li>
            </ul>
          </section>
          <section class="3u$ 6u$(medium) 12u$(small)">
            <h3>total</h3>
            <ul class="unstyled">
              <li><a href="http://www.ituore.com/entry/study-junior">how to study</a></li>
              <li><a href="http://xn--swqwd788bm2jy17d.net/hyogo.php">高校偏差値</a></li>
              <li><a href="http://daigakujyuken.boy.jp/">大学偏差値</a></li>
              <li><a href="http://study-guide.hatenablog.jp/entry/20140425/p1">動画まとめ</a></li>
              <li><a href="https://www.youtube.com/watch?v=j7yoAzQ1PuA&index=8&list=PLFryQ-K6iv6UvSIaEv8KGVh6OkFwZm7-c">面白くなるyoutube</a></li>
            </ul>
          </section>
        </div>
      </section>
      <div class="row">
        <div class="8u 12u$(medium)">
          <ul class="copyright">
            <li>&copy;Ryoma Kurisu</li>
            <li>Design:TEMPLATED</li>
            <li>Image:</a></li>
          </ul>
        </div>
        <div class="4u$ 12u$(medium)">
          <ul class="icons">
            <li>
              <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
              <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
            </li>
            <li>
              <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>