
<div id="main">
	<div class="container">
		<header class="major">
			<h2>Login</h2>
			<p></p>
		</header>
		<div class="row">
			<div id="content" class="8u skel-cell-important">
				<form method="POST" action="/login">
					<table>
						<tr>
						<td>USER</td>
							<td><input type="text" name="user_name" /></td>
						</tr>
						<tr>
							<td>PASS</td>
							<td><input type="text" name="user_pass" /></td>
						</tr>
					</table>

					<input type="submit" value="ログイン" />
				</form>
			</div>
		</div>
	</div>
</div>