<script src="js/main.js"></script>

<!-- Main -->
<div id="main">
  <div class="container">
    <div class="row">

    
      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section>
          <header>
            <h2>得点記入</h2>
            <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
          </header>
          <form action="/check" method="POST" name ="score" onsubmit="return check()">
            <div>
              学期:<input type = "number" name = "semester" min="1" max="3" step="1">
            </div>
            <div>
              テスト名:中間<input type="radio" name="test" value="中間" checked>
              期末<input type="radio" name="test" value="期末">
              実力<input type="radio" name="test" value="実力">
            </div>
            <div>
              学校名:
              武庫東<input type="radio" name="school_name" value="武庫東" checked>
              南武庫之荘<input type="radio" name="school_name" value="南武庫之荘">
              武庫<input type="radio" name="school_name" value="武庫">
              常陽<input type="radio" name="school_name" value="常陽">
            </div>
            <div>
             得点:
             <table>
               <tr><td>国語<input type = "number" name = "japanese" min="0" max="100" step="1"></td></tr>
               <tr><td>数学<input type = "number" name = "math" min="0" max="100" step="1"></td></tr>
               <tr><td>英語<input type = "number" name = "english" min="0" max="100" step="1"></td></tr>
               <tr><td>理科<input type = "number" name = "science" min="0" max="100" step="1"></td></tr>
               <tr><td>社会<input type = "number" name = "social" min="0" max="100" step="1"></td></tr>
             </table>
           </div>
           <div>
            <input type="submit" id="submit" value="登録する">
            <input type="reset" value="入力内容をリセットする">
          </div>
        </form>
      </section>
    </div>

  </div>
</div>
</div>
<!-- /Main -->
