<div id="main">
	<div class="container">
		<header class="major">
			<h2>Sign Up</h2>
			<p></p>
		</header>
		<div class="row">
			<div id="content" class="8u skel-cell-important">
				<form action="/sign_up" method="POST">
					<div>
						USERNAME:<input name="user_name" size="10" value=""  type="text">
						PASSWORD:<input name="user_pass" size="10" value=""  type="text">
					</div>
					<div>
						SCHOOL NAME:
						<input type="radio" name="school_name" value="武庫東" checked="checked">武庫東
						<input type="radio" name="school_name" value="南武庫之荘">南武庫之荘
						<input type="radio" name="school_name" value="武庫">武庫
						<input type="radio" name="school_name" value="常陽">常陽
					</div>
					<input type="submit" value="Sign up" />
				</form>
			</div>
		</div>
	</div>
</div>